#home-page-hero
	.header-content
		.header-content-inner
			h1 Another way to teach and learn
			hr
			p
				| Free platform for online educators and other web enthusiasts built on MEAN stack.
			a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More