.container
	.row
		.col-lg-8.col-lg-offset-2.text-center
			h2.section-heading Open source platform for online education!
			hr.light
			p.text-faded
				| Built in user management gives way to provide different levels of acces to your materials based on students membership. Convenient way to publish courses for teachers and easy assignment submission for teachers. Publish new materials daily using CMS for greater appearance in search results.
			a.btn.btn-default.btn-xl(href='#') Get Started!