.header-content
    .header-content-inner
        h1 Another way to learn
        hr
        p
            | We will help you to build a system for continuous self improvement.
        a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More