header#intro-top(ng-include="'/partials/main/intro-top'")

section#about.bg-primary(ng-include="'/partials/main/intro-about'")

section#services(ng-include="'/partials/main/intro-services'")

//.row
	.col-md-6
		div(ng-include="'/partials/main/featured-courses'")
	.col-md-6
		div(ng-include="'/partials/main/new-courses'")
